.app-wrapper {
    height: 100dvh;
    display: grid;
    grid-template-columns: 270px 1fr;
    background-color: var(--background-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-content {
    padding: 20px 7%;
}

.page-subtitle {
    margin-left: 20px;
    font-size: 16px;
}

