
/*_____________________ Home Page _____________________*/
home-page {
    height: calc(100dvh - 100px);
    display: grid;
    grid-template-rows: 100px 1fr;
    row-gap: 20px;
}

.home-header {
    display: flex;
    align-items: end;
}

.home-header .searchbar {
    width: 50%;
}


/*_____________________ Storage Page _____________________*/
storage-page {
    display: grid;
    grid-template-rows: 150px 1fr;
    height: calc(100dvh - 100px);
}

storage-page h4 {
    font-weight: 500;
}

.storage-headers {
    justify-content: center;
}

.storage-usage-bar {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    border-radius: 25px;
    background-color: var(--soft-grey);
}

.storage-usage-bar > div {
    position: absolute;
    height: 100%;
    border-radius: 25px;
}

.document-usage {
    z-index: 3;
    background-color: var(--blue1);
    width: 40%;
}

.image-usage {
    z-index: 2;
    background-color: var(--blue2);
    width: 50%;
}

.video-usage {
    z-index: 1;
    background-color: var(--blue4);
    width: 60%;
}

.usage-tag {
    position: absolute;
    font-weight: 500;
    top: 40px;
    right: 0;
}

.storage-types {
    row-gap: 40px;
}

.storage-types .color-blob {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.storage-types .storage-type {
    display: flex;
    align-items: center;
    column-gap: 30px;
}   

.storage-types .document-type .color-blob {background-color: var(--blue1)}
.storage-types .image-type .color-blob {background-color: var(--blue2)}
.storage-types .video-type .color-blob {background-color: var(--blue4)}


/*_____________________ Notifications Page _____________________*/
.notifications {
    padding-top: 50px;
    row-gap: 30px;
}


/*_____________________ Shared With Me Page _____________________*/
shared-with-me-page {
    display: flex;
    height: calc(100dvh - 100px);
}

.shared-with-me-table {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.shared-with-me-header {
    display: grid;
    grid-template-columns: .25fr 2fr 1fr 1fr;
    padding: 0 20px;
    padding-bottom: 20px;
}

.shared-with-me-content {
    max-height: calc(100dvh - 231px);
    overflow-y: scroll;
}

.shared-with-me-header p {
    font-size: 14px;
}


/*_____________________ Shared With Me Page _____________________*/
.add-bucket-btn {
    margin-top: 40px;
    padding: 5px 10px;
    font-size: 12px;
}

.my-buckets-table {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.my-buckets-header {
    display: grid;
    grid-template-columns: .25fr .3fr 1.5fr 1fr .5fr .5fr .6fr;
    padding: 0 20px;
    padding-bottom: 20px;
}

.my-buckets-header p {
    font-size: 14px;
}


/*_____________________ Objetcs Page _____________________*/

objects-page {
    display: grid;
    grid-template-rows: 100px 80px 1fr;
}

bucket-navigation {
    display: flex;
    column-gap: 5%;
    margin: auto 0;
}

bucket-navigation button {
    padding: 5px 20px;
    color: var(--primary-text-color);
    background-color: transparent;
    height: fit-content;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
}

bucket-navigation button:hover {
    background-color: var(--soft-grey);
}

.active-bucket-tab {
    border-radius: 5px 5px 0 0 !important;
    border-color: var(--blue1) !important;
    background-color: var(--background-color) !important;
}

.bucket-utils-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.bucket-utils-container button {
    padding: 5px 20px;
    font-size: 14px;
}

.bucket-utils-container input {
    padding: 10px 20px;
    font-size: 12px;
}

.bucket-object-table {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
    max-height: calc(100dvh - 305px);
    width: 100%;
}

.bucket-object-header {
    display: grid;
    grid-template-columns: .25fr .3fr 1.5fr 1fr .5fr .5fr .6fr;
    padding: 0 20px;
    padding-bottom: 20px;
}

.bucket-object-header p {
    font-size: 14px;
}


/*_____________________ Properties Page _____________________*/
properties-page {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.properties-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 100px;
}

.overview-container p {
    font-size: 15px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.overview-container p button,
.email-container p button {
    padding: 5px 15px;
    font-size: 12px;
}

.email-input-container {
    padding: 20px 0;
    display: flex;
    column-gap: 20px;
}

.email-input-container input {
    padding: 5px 20px;
    width: 300px;
}